.bundle
vendor/bundle/
log/**/*
tmp/**/*
db/*.sqlite3

.git
.DS_Store
config/deploy_3.rb
config/deploy_backup.rb
config/oldcap/

config/initializers/devise.rb

config/initializers/secret_token.rb
config/secrets.yml

.rvmrc

