<h1><%= @page.name %></h1>
<%= Kramdown::Document.new(@page.content).to_html.html_safe if @page.content %>
<% @products.each do |product| %>
	<%= Kramdown::Document.new(product.description).to_html.html_safe %></p>
<% end %>