<%= Kramdown::Document.new(@page.content).to_html.html_safe %>
<% if @page.name == "Nieuwsbrief" && @page.picture %>
<p>Download onze meest recente nieuwsbrief: <a href="<%= @page.picture.url %>" target="_blank"><%= @page[:picture] %></a>.
<% end %>