<%= Kramdown::Document.new(@page.content).to_html.html_safe if @page.content %>
<% if @page.name.downcase == "nieuwsbrief" && @page.picture %>
<p>Bekijk onze meest recente nieuwsbrief: <a href="<%= @page.picture.url %>" target="_blank"><%= @page[:picture] %></a>.<p>
<% end %>