<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wij hebben uw bericht ontvangen</h1>
    <p>Geachte <%= @question.name %>.</p>
    <p>Wij hebben uw bericht in goede orde ontvangen.</p>
		<p>Wij nemen zo spoedig mogelijk contact met u op.</p>
		<p>Uw bericht:</p>
		<p><%= @question.message %></p>
  </body>
</html>
