// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$full:#e97438;
$secondary:purple;
$primary-color:$full;
//typography
h1#title {font-family:'Lucida-Bol',georgia,serif;}
a.social {font-family:'Entypo-Social'; font-size: 300%; z-index: 10;}
h1, h2, h3, h4 { font-size: 1em; }
body { font-family: helvetica, sans-serif; line-height: 1.3em;}

//social
#social_icons a { position: relative; margin-right: 5px;}
#social_icons a:nth-child(1){ top:-5px; color: #3B5998;};
#social_icons a:nth-child(2){ top:-12px; color: #4099FF;};
#social_icons a:nth-child(3){ top:-17px; color: #d34836;};

//navigation
nav {
	ul {margin-left: -0.5em; margin-bottom: 1em; list-style: none;} 
	li {margin-right: 0.5em; }
	a {padding: 0.5em;}
}

#main_nav { margin-bottom: 1em;
	ul { margin-left: -0.5em;}
	li { margin-right: 0.5em;}
}

#main_nav, #sidebar_nav {
	a:link, a:visited {color: black; }
	a:hover, a:active, a.selected {background-color: $full; color: black;}
}

#sidebar_nav {
	a {text-align: center;margin-bottom: 1em;}
	a:link, a:visited { background-color: lighten($full, 30%)}
	a:hover, a:active, a.selected {background-color: $full; color: black;}
}
#user_nav {
	margin-top: 3em;
	li {margin-bottom: 1em;}
	a { text-align: right;color: white; text-align: right; font-style: bold;}
	a:link, a:visited {background-color: $full; color: white;}
	a:hover, a:active {background-color: lighten($full, 20%); color: white;}
	a:after {content:" >>";};
}

#sidebar_nav, #user_nav {
	a {display: block;padding: 0;}
	li {width: 100%;}
}

#wrapper {
  background: $full; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjU4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ffffff 0%, $full 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(100%,$full)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 25%, $full 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,$full 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,$full 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 5%,$full 100%); /* W3C */
  //  -pie-background: linear-gradient(to right, #ffffff, #d65818); /*ie 6-9 via PIE*/
  //  behavior: url(/assets/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d65818',GradientType=1 ); /* IE6-8 */
}
h1#title {display: none; font-size:1.6em; line-height: 1em; position: relative; top: 0em; left: 1.5em; font-weight: 200;
  a {letter-spacing:1px;}
  span {color:#333;}
}

iframe { width: 100%; margin-top: 10em;}

//header & media queries
#horizon-container { display: none;}
#horizon-container { position:absolute;}
#logo { display: none;}
#logo-image {display: block; width: 500px;}
h2#logo_extra{display:none;}
#tagline {display:none;}

#wrapper { padding-top: 0;}

@media only screen and (min-width: 768px) {
	// Horizon
	#horizon-container {display: block;}
	#horizon-container {position:absolute; width: 1280px; height: 300px;}

	// Logo
	#logo {display: block;}
	#logo {position: absolute; left:7.6em; top:1em;}
	#logo-image {display: none;}
	#logo-text {position: absolute; left: -2.4em; top:5em;}
	
	h1#title {display: block;}
	h2#logo_extra {display:block; font-style:italic;font-size:1em;position:relative;top: -0.5em;left:14em; font-weight:normal;}
	#tagline {display: block; font-style: italic;font-size: 1.3em; font-weight: normal; position: relative; top:2.3em; left: 4em; text-indent: 1.3em;
	  span {color: $full;}
	}
	#wrapper { padding-top: 100px;}
}