// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$full:#e97438;
$secondary:purple;
$primary-color:$full;
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
//typography
#logo h1 {font-family:'Lucida-Bol',georgia,serif;}

#social_icons a {font-family:'Entypo-Social'; font-size: 300%;}
h1, h2, h3, h4 { font-size: 1em; }
body { font-family: helvetica, sans-serif; line-height: 1.3em;}

//image
img { border: 1px solid rgba(0,0,0,0.1); overflow: hidden;}
//navigation
nav {
	ul {margin-left: -0.5em; list-style: none;} 
	li {margin-right: 0.5em; }
	a {padding: 0.5em;}
}

#main_nav { margin-bottom: 1em;
	ul { margin-left: -0.5em;}
	li { margin-right: 0.5em;}
}

#main_nav, #sidebar_nav {
	a:link, a:visited {color: black;border: 1px solid rgba(0,0,0,0);outline:1px solid rgba(0,0,0,0); }
	a:hover, a:active, a.selected {background-color: $full; color: black;border: 1px solid darken($full,2%);outline:1px solid rgba(255,255,255,0.1);}
}

#sidebar_nav {
	padding-left: 15%;
	a { margin-bottom: 1em;}
	a:link, a:visited { background-color: lighten($full, 30%); border: 1px solid lighten($full, 28%);outline:1px solid rgba(255,255,255,0.1);}
	a:hover, a:active, a.selected {background-color: $full; color: black; border: 1px solid darken($full,2%);outline:1px solid rgba(255,255,255,0.1);}
}

#user_nav {
	margin-top: 3em;
	li {margin-bottom: 1em;}
	a { text-align: right;color: white; text-align: right; font-style: bold;}
	a:link, a:visited {background-color: $full; color: white;}
	a:hover, a:active {background-color: lighten($full, 20%); color: white;}
	a:after {content:" >>";};
}
#main_content {margin-top: 1em;}

#sidebar_nav, #user_nav {
	a {text-align: left; display: block; padding: 0 0 0 0.5em; overflow: hidden;}
	li {width: 100%; overflow: hidden;}
}
//social
#social_icons {

	span {display: inline-block; margin:0;padding: 0; }
	a.facebook { color: #3B5998; }
	a.twitter { color: #4099FF;}
	a.googleplus { color: #d34836; padding-right: 0; margin-right: 0;}
}

#wrapper {
  background: $full; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjU4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ffffff 0%, $full 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(100%,$full)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 25%, $full 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,$full 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,$full 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 5%,$full 100%); /* W3C */
  //  -pie-background: linear-gradient(to right, #ffffff, #d65818); /*ie 6-9 via PIE*/
  //  behavior: url(/assets/PIE.htc);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d65818',GradientType=1 ); /* IE6-8 */
}

iframe { width: 100%; margin-top: 10em; overflow: hidden;}
#marketing { overflow: hidden;}
#horizon-container {position:absolute; width: 100%; overflow: hidden;}
#wrapper { margin-top: 132px; padding-top: 150px; overflow: hidden;}
//#logo {display: block;}
#logo {position: absolute;left: 105px; top: 30px; }
#logo h1 { position: absolute; left: -100px; top: 65px; 
	font-size: 1.6em; line-height: 1em; font-weight: 200;
  a {letter-spacing:1px;}
  span {color:#333;}
}
#logo h2 { position: absolute; top: 95px; left: 90px; font-style: italic; font-weight: normal; overflow: hidden;}
#marketing-right { position: absolute; overflow: hidden; right: 0; top: 4em;}
#tagline { display: none; position: relative; font-style: italic; font-size: 1.3em; font-weight: normal; text-indent: 1.3em; overflow: hidden;
	span { color: $full;}
}

// media query
@media only screen and (min-width: 768px) {
	
	#logo {position: absolute; left: -30px; top: 30px; overflow: visible;}
	#tagline {display: block; overflow: hidden;}
	#sidebar_nav { padding-left: 0;}
}