.Lucida-Bol { 
	font-family: Lucida-Bol;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fontello';
	src: font-url('fontello.eot');
	src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
		font-url('fontello.woff') format('woff'),
		font-url('fontello.ttf') format('truetype'),
		font-url('fontello.svg#svgFontName') format('svg');
	}

@font-face {
    font-family: 'Lucida-Bol';
    src: url(font-path('294612_0_0.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('294612_0_0.woff')) format('woff'), 
         url(font-path('294612_0_0.ttf'))  format('truetype'),
         url(font-path('294612_0_0.svg') + "#MyFont") format('svg');
}
