<div class="row">
	<h1><%= @category.name %></h1>
	<% @products.each do |product| %>
		<h2><%= product.name %></h2>
		<p><%= product.short_description %></p>
		<p><%= link_to "meer info", product %></p>
	<% end %>
</div>
