<%= Kramdown::Document.new(@page.content).to_html.html_safe %>
<% @products.each do |product| %>
<h3><%= product.name %></h3>
<p><%= product.short_description %></p>
<%= link_to "meer info", product %>
<% end %>