<% if @page && @page.name == "Home" %>
	<iframe src="//www.youtube.com/embed/Ov9SSSZ96ek" frameborder="0" allowfullscreen></iframe>
<% end %>
<% if @page && @page.name == "Over ons" %>
	<p><%= image_tag("marielle.jpg") %></p>
<% end %>
<% if @product %>
	<%= image_tag(@product.picture) if @product.picture %>
<% end %>