<% if @page && @page.name == "Home" %>
	<!--	<iframe src="//www.youtube.com/embed/Ov9SSSZ96ek" frameborder="0" allowfullscreen></iframe>-->
	<div class="youtube" id="Ov9SSSZ96ek"></div>
<% end %>
<% if @page && @page.picture && @page.name != "Nieuwsbrief" %>
	<%= image_tag(@page.picture) %>
<% end %>
<% if @product && @product.picture %>
	<%= image_tag(@product.picture) if @product.picture %>
<% end %>
