<% if not @messages_rendered -%>
  <% if flash[:error] -%>
    <p class='error label alert radius'><%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
    <p class='notice label success radius'><%=h flash[:notice] %></p>
  <% end -%>
  <% if flash[:alert] -%>
    <p class='notice label success radius'><%=h flash[:alert] %></p>
  <% end -%>
<% end -%>
<% @messages_rendered = true -%>