<ul id="sidebar_nav">
  <% @page_nav.where(main_navigation: false).each do |page| %>
    <li><%= nav_link_to(page.name.downcase, page_path(page.permalink), id: page.permalink) %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
	<ul id="user_nav">
		<li><%= link_to "uitloggen", destroy_user_session_path, method: :delete %></li>
	</ul>
<% end %>
<% if user_signed_in? %>
  <p>Ingelogd als:<br><strong><%= current_user.email %></strong></p>
<% end %>