<div class="row" id="social_icons">
	<p>
		<a id="facebook" href="https://www.facebook.com/Lasschelassche">&#62222;</a>
		<a id="twitter" href="https://twitter.com/lasschecultuur">&#62218;</a>
		<a id="googleplus" href="https://plus.google.com/111919899281812173891" rel="publisher">&#62223;</a>
	</p>
</div>