<div class="row" id="social_icons">
	<p>
		<span class="left"><a class="facebook" href="https://www.facebook.com/Lasschelassche">&#62222;</a></span>
		<span class="center"><a class="twitter" href="https://twitter.com/lasschecultuur">&#62218;</a></span>
		<span class="right"><a class="googleplus" href="https://plus.google.com/111919899281812173891" rel="publisher">&#62223;</a></span>
	</p>
</div>