<div class="row" id="social_icons">
	<p>
		<a class="left" id="facebook" href="https://www.facebook.com/Lasschelassche">&#62222;</a>
		<a class="center" id="twitter" href="https://twitter.com/lasschecultuur">&#62218;</a>
		<a class="right" id="googleplus" href="https://plus.google.com/111919899281812173891" rel="publisher">&#62223;</a>
	</p>
</div>