<div class="row" id="social_icons">
	<p>
	<span><a id="facebook" href="https://www.facebook.com/Lasschelassche" class="icon-facebook">&#xe800;</a></span>
	<span><a id="twitter" href="https://twitter.com/lasschecultuur" class="icon-twitter">&#xe802;</a></span>
	<span><a id="youtube" href="https://www.youtube.com/channel/UC68mFYeBz0Iy-GoqlLrKI2A" class="icon-youtube">&#xe803;</a></span>
	</p>
</div>
