<div class="row" id="social_icons">
	<ul>
		<li>
			<a class="social" href="https://www.facebook.com/Lasschelassche">&#62222;</a>
			<a class="social" href="https://twitter.com/lasschecultuur">&#62218;</a>
			<a class="social" href="https://plus.google.com/111919899281812173891" rel="publisher">&#62223;</a>
		</li>
	</ul>
</div>